body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1F2937;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}